GitPython>=3.1.45
matplotlib>=3.8.0
numpy>=1.24.0
pandas>=2.0.3
scipy>=1.11.1
openpyxl>=3.1.5
pyinstaller>=6.15.0
PyQt6>=6.6.0
PyQt6.QtCore
PyQt6.QtGui
PyQt6.QtWidgets
python-docx>=1.2.0
pywin32>=306
xlrd==1.2.0
XlsxWriter~=3.0.8